{% extends "base.html.twig" %}


{% block body %}

    <hr>

    Ajouter une liste <a href="{{ path('checklist_new') }}">+</a>

    <section>
        {% for checklist in checklists %}
            {% include 'checklist/_thumbnail.html.twig' with { 'checklist': checklist } only %}
        {% endfor %}
    </section>

{% endblock %}