{% extends "base.html.twig" %}


{% block body %}
    <div class="container-fluid " >
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12" style="max-width: 70%; padding-left: 30% ">

                        <button type="button" class="btn btn-primary btn-md btn-block">
                            Ajouter une liste
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class="col-md-12" style="padding-left: 5%">
                        {% for checklist in checklists %}
                            {% include 'checklist/_thumbnail.html.twig' with { 'checklist': checklist } only %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>



{% endblock %}
