@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand_Book.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

h2{
    color: white;
    font-family: Roboto;
    padding: 12px;
    font-weight: bold;
}

a{
    font-size: 20px;
    font-family: Quicksand;
    font-weight: bold;
}

