<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {#{ encore_entry_link_tags('app') }#}
    {% endblock %}
</head>
<body>
<hr>

<main class="main-content">
    <section>
        {% block body %}<a href="{{ path('checklist_new') }}">Ajouter une liste</a>{% endblock %}
    </section>
</main>

<hr>

<footer>
</footer>
</body>
</html>