<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Heal&Stock{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <div class="container">
    <div class="row" style="justify-content: center;">
        <h2  class="col-6">HEAL & STOCK</h2>
        <img class="col-5" style="max-width: 15%; padding: 3px" src="/healstock/assets/images/logo.png" alt="Logo">
    </div>
    </div>
    <hr>
</head>
<body style="background-color:#38b6ff; justify-items: center">

<main class="main-content">
    <section>
        {% block body %}{% endblock %}
    </section>
</main>

<hr>
<footer>
    <nav class="container" style="background-color: lightgray; max-width: 100%; position: fixed; right: 0; top: 92%;">
        <ul class="row" style="justify-content: space-evenly;">
            <a href="{{ path('homepage') }}"><img src="/healstock/node_modules/bootstrap-icons/icons/archive.svg" width="60" height="60" title="archive"></a></li>
            <a href="#"><img src="/healstock/node_modules/bootstrap-icons/icons/plus.svg" width="60" height="60" title="plus"></a></li>
            <a href="{{ path('app_login') }}"><img src="/healstock/node_modules/bootstrap-icons/icons/person-fill.svg" width="60" height="60" title="admin"></a></li>
        </ul>
    </nav>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>