<article>
    <a style="color: black" href="{{ path('checklist_show', {'id': checklist.id}) }}">
        N°{{ checklist.id }} Nom : {{ checklist.nursename }} Date : {{ checklist.createtime|date('d/m/Y') }}
    </a>
</article>