<article>
    <a style="color: black" href="{{ path('checklist_show') }}">
        N°{{ checklist.id }} Nom : {{ checklist.nursename }} Date : {{ checklist.createtime|date('d/m/Y') }}
    </a>
</article>