{% extends "base.html.twig" %}

{% block body %}

    <h1>Traiter une liste</h1>

    //loop item + isclosed TODO

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}