

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div>
                <h3>
                    Ajouter un produit
                </h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter le produit') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>